
@import './globals/fonts.css';
@import './components/animations.css';
@import './components/video.css';

@tailwind base;
@tailwind components;



/*  This is temporary: */


/* Footer */
.footerContainer{
  @apply border-t border-gray-200;
}

.footerInner{
  @apply flex flex-col items-start justify-between gap-y-12 pt-16 pb-6 lg:flex-row lg:items-center lg:py-16;
}

.footerLogoAndInfo{
  @apply flex items-center text-gray-900;
}


/* TextVisual */

.tvVisualContainer{
  @apply relative h-56 bg-red-600 sm:h-72 md:absolute md:left-0 md:h-full md:w-1/2
}
.tvTextContainer{
  @apply relative mx-auto max-w-md py-12 px-6 sm:max-w-7xl sm:py-20 md:py-28 lg:px-8 lg:py-32
}




@tailwind utilities;

#__next {
  min-height: 100%;
}

.fill-red-600 {
  fill: #dc2626;
}

.bg-red{
  background-color: #dc2626
}

.bg-beige{
  background-color: #F8F5F2;
}

.p-16{
  padding: 4em;
}